#hero {
    height: 90vh;

    /* margin-top: 10vh; */

    padding: 2rem;
}

#para {
    color: #000000;
    font-size: 7vw;
}

.connect {
    color: #000000 !important;

    text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);

    font-family: "Open Sans", sans-serif;

    
    /* line-height: 3.9rem; */
    letter-spacing: 0.1rem;
    font-size: 2vw;
    margin-top: 1.3vw;
    font-weight: 800;
    opacity: 0.8;
    transform: scaleY(1.25);
}

#image1 {
    max-width: 37vw;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 19px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#nav-link {
    text-decoration: none;
    font-size: 2vw;
    padding: 1rem;
    color: #000000;
    opacity: 0.65;
}

#nav-link:hover {
    color: black;
    opacity: 1;
}

@media only screen and (max-device-width: 480px) {
    #para {
        font-size:40px;
    }

    .connect {
        font-size: 20px;
    }

    #nav-link {
        font-size: 0.8rem;
        padding: 0.7rem;
    }
}



.content-img {
    width: 100%;
    background-size: cover;
}

#illus {
    /* height: 300px; */
    width: 400px;
    max-width: 90vw;
}




#illus {

  animation: skew 2s linear infinite;
}


@keyframes skew {
0% {
transform: translateX(25px);
}
50%{
  transform: translateX(0px);
}
100% {
transform: translateX(25px);
}
}

/* #illus:hover {
    transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
} */

#bg-div {

    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(124, 131, 253, 1) 100%);
}
/* .video-mask{
    -webkit-mask-image: url(http://f.cl.ly/items/1e181Q0e3j0L3L3z2j3Z/rect.svg);

} */
/* video{
  
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius: 40px;
    overflow: hidden;
} */


